APP_NAME={{ .AppName }}
APP_ENV=local
HTTP_ADDR=:8080

DB_DRIVER=mysql
DB_DSN=root:password@tcp(127.0.0.1:3306)/{{ .AppName }}?parseTime=true
DB_ENABLE_NESTED_TRANSACTION=false

REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=
REDIS_DB=0

LOG_LEVEL=info
{{- if .WithOpenTelemetry }}

OTEL_ENABLED=false
OTEL_SERVICE_NAME={{ .AppName }}
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4318
OTEL_EXPORTER_OTLP_INSECURE=true
{{- end }}
